@font-face {
  font-family: "darker_grotesqueregular";
  src: url("font/darkergrotesque-regular-webfont.eot");
  src: url("font/darkergrotesque-regular-webfont.eot?#iefix") format("embedded-opentype"), url("font/darkergrotesque-regular-webfont.woff2") format("woff2"), url("font/darkergrotesque-regular-webfont.woff") format("woff"), url("font/darkergrotesque-regular-webfont.ttf") format("truetype"), url("font/darkergrotesque-regular-webfont.svg#darker_grotesqueregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "darker_grotesqueregular";
}

a {
  text-decoration: none;
}

header {
  margin-bottom: 2.5%;
  margin-top: 2.5%;
}
header .titre {
  width: 30%;
  margin-left: 35%;
}
#message1 {
  color: red;
}
#blockmain {
  background-image: url("fond1.jpg");
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
  margin-bottom: 10%;
}
#blockmain .slogan {
  position: relative;
  top: 40%;
  color: white;
  font-size: 4em;
}
#blockmain .trouver {
  position: relative;
  top: 60%;
}
#blockmain .trouver a {
  color: #261624;
  font-size: 3em;
  background-color: white;
  border-radius: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  opacity: 80%;
}
#blockmain .trouver a:hover {
  color: white;
  background-color: #261624;
  transition: 700ms;
}
invisible
.information {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.7em;
}

.information1, .information2, .information3 {
  margin-bottom: 15%;
}

.information2 aside {
  margin-left: 50%;
}

aside {
  width: 50%;
}

footer {
  background-color: #261624;
  display: flex;
  color: white;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
}

.article img.titre, .produit img.titre, .panier img.titre, .confirmation img.titre {
  width: 250px;
  margin-left: 5%;
}

.article header, .produit header, .panier header, .confirmation header {
  margin-bottom: 0%;
  margin-top: 0%;
  display: flex;
  justify-content: space-between;
}

.fa-shopping-cart, .fa-long-arrow-alt-left, .fa-trash-alt {
  color: #261624;
}

.fa-shopping-cart:hover, .fa-long-arrow-alt-left:hover, .fa-trash-alt:hover {
  color: #cc7c51;
  transition: 400ms;
  transform: scale(1.1);
}

.logopanier {
  margin-right: 5%;
  margin-top: 40px;
}

.head {
  display: flex;
  justify-content: center;
  height: 50px;
  margin-bottom: 17.5%;
  margin-top: 12.5%;
}
.head input {
  width: 500px;
  border-radius: 15px;
  border-color: #607D8B;
}
.head button {
  background-color: rgba(0, 0, 255, 0.5);
  color: #261624;
  font-size: 2em;
  border: none;
  margin-left: -50px;
  height: 0px;
}
.head button:hover {
  color: #cc7c51;
  transition: 400ms;
  transform: scale(1.1);
  cursor: pointer;
}







.cart {
  display: flex;
}
.cart div {
  margin-left: 50px;

  width: 200px;
}
.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 200px;
  margin-bottom: 200px;
  justify-content: center;
}
.container .aaa {
  
}
.container .article {
  width: 300px;
  height: 350px;
  margin: 20px;
  border-radius: 2.5px;
  text-align: center;
}
.container .article:hover {
  transition: 400ms;
  box-shadow: 0px 0px 20px black;
  transition: 400ms;
}
.container .aaa img {
  width: 18.8em;
}
.container .aaa h3 {
  font-size: 2em;
  color: #261624;
}
.container .aaa h4 {
  font-size: 2em;
}
.invisible {
  display: none;
  margin-top: -5px;
  font-weight: bold;
  color: #261624;
}
.container .article:hover:hover .invisible {
  display: flex;
  margin-left: 125px;
}
.container .article:hover:hover h3 {
  display: none;
}






























.cart {
  margin-right: 50px;
}
#blockproduit {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 200px;
  margin-top: 200px;
  flex-wrap: wrap;
  box-shadow: 0px 0px 10px;
  border-radius: 10px;
}
#blockproduit .topleft {
  width: 50%;
}
#blockproduit img {
  width: 100%;
  display: flex;
  justify-content: center;
}
.blocktop, .blockbottom {
  display: flex;
  margin-bottom: 100px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.topright {
  text-align: center;
  color: #261624;
  font-weight: bold;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
.topright h1 {
  font-size: 3em;
}
.topright p {
  font-size: 1.2em;
}
.topright .prix1, .topright .prix2, .topright .prix3, .topright .prix4, .topright .prix5 {
  display: flex;
  width: 10%;
  font-size: 1.5em;
  margin-left: auto;
  margin-right: auto;
}
.bottomleft {
  width: 70%;
}
.bottomleft h2 {
  margin-left: 50px;
}
.bottomright .fa-cart-arrow-down {
  color: #261624;
  margin-right: 50px;
  padding-bottom: 50px;
}

.bottomright .fa-cart-arrow-down:hover {
  color: #cc7c51;
  transition: 400ms;
  transform: scale(1.1);
  cursor: pointer;
}
.inputs {
  margin-left: 10%;
}
.inputs input {
  font-size: 2em;
  border-radius: 5px;
}
.inputs select {
  font-size: 2em;
  border-radius: 5px;
  margin-left: 50px;
}
.rouge {
  background-color: red;
  color: white;
}
.bleue {
  background-color: blue;
  color: white;
}
.vert {
  background-color: green;
  color: white;
}
.blanc {
  background-color: white;
}
.noir {
  background-color: black;
  color: white;
}

.titrepanier, .article1, .article2, .article3 {
  display: flex;
}

#blockpanier {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.titrepanier {
  justify-content: space-around;
  flex-wrap: wrap;
}
.titrepanier h1 {
  font-size: 5em;
  color: #261624;
}
.titrepanier .fa-cart-arrow-down {
  margin-top: 40px;
  color: #261624;
}
.titrepanier p {
  font-size: 2em;
  font-weight: bold;
  margin-top: 90px;
  color: #261624;
}

.panierfinal {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  box-shadow: 0px 0px 5px;
  border-radius: 10px;
  margin-bottom: 200px;
  flex-wrap: wrap;
  margin-top: 200px;
}
.panierfinal h1 {
  text-align: center;
  font-size: 5em; 
}
.panierfinal h3 {
  margin-left: 50px;
  margin-right: 50px;
  font-size: 2em;
  margin-bottom: 100px;
}
.formulaire {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  box-shadow: 0px 0px 5px;
  border-radius: 10px;
  margin-bottom: 200px;
  flex-wrap: wrap;
}
.formulaire legend {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 50px;
}
.formulaire input {
  width: 200px;
  border-radius: 5px;
}
.formulaire p {
  display: flex;
  justify-content: space-around;
  font-size: 1.2em;
  flex-wrap: wrap;
}
.formulaire .pays {
  display: flex;
  justify-content: flex-start;
  margin-left: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.formulaire .pays select {
  margin-left: 40px;
}
.formulaire .condition {
  display: flex;
  justify-content: flex-start;
  margin-left: 40px;
  font-weight: bold;
  margin-bottom: 50px;
}
.formulaire .commander {
  margin-bottom: 50px;
}

#blockconfirmation {
  margin-bottom: 200px;
}

.titreconfirmation {
  justify-content: flex-start;
  flex-wrap: wrap;
  display: flex;
  margin-left: 5%;
  margin-top: 50px;
}
.titreconfirmation h1 {
  font-size: 5em;
  color: #261624;
  margin-left: 2.5%;
}
.titreconfirmation .fa-paper-plane {
  margin-top: 40px;
  color: #261624;
}
.titreconfirmation p {
  font-size: 2em;
  font-weight: bold;
  margin-top: 90px;
  color: #261624;
}

.allconfirmation {
  margin-left: 5%;
  font-size: 1.7em;
}
.allconfirmation div {
  margin-bottom: 5%;
}
.allconfirmation div span {
  font-weight: bold;
}
.allconfirmation div span.retour {
  font-weight: normal;
  color: red;
  background-color: white;
}
.totalprix #total {
  width: 300px;
}

@media all and (max-device-width: 576px) {
  header .titre {
    width: 50%;
    margin-left: 25%;
  }
  .pp {
  display: none;
  }
  #blockmain {
    width: 100%;
    height: 1000px;
    margin-bottom: 10%;
  }
  #blockmain .slogan {
    top: 20%;
    font-size: 6em;
  }
  #blockmain .trouver {
    top: 40%;
  }
  #blockmain .trouver a {
    font-size: 5em;
  }

  .information {
    width: 70%;
    font-size: 3em;
    text-align: justify;
  }

  .information1, .information2, .information3 {
    margin-bottom: 15%;
  }

  .information2 aside {
    margin-left: 0%;
  }

  aside {
    width: 100%;
  }

  footer {
    font-size: 3em;
  }

  .article img.titre, .produit img.titre, .panier img.titre, .confirmation img.titre {
    width: 50%;
  }

  .logopanier {
    font-size: 2em;
  }
  .logopanier .fa-shopping-cart {
    margin-right: 50px;
    margin-top: 25px;
  }
  .container {
    width: 90%;
  }

  .container .article {
    width: 740px;
    height: 1000px;
    box-shadow: 0px 0px 10px black;
    margin-bottom: 100px;
  }

  .container .article:active:active h2 {
    display: block;
  }

  .container .article img {
    width: 46em;
  }
  .container .invisble {
    display: flex;
    margin-top: -100px;
    font-size: 3em;
    width: 150px;
    margin-right: auto;
    margin-left: auto;
  }
  .container #name1, .container #name2, .container #name3, .container #name4, .container #name5 {
    font-size: 5em;
  }
  #blockproduit {
    width: 80%;
  }

  #blockproduit img {
    width: 48.2em;
  }
  #blockproduit p {
    text-align: justify;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    font-size: 2.5em;
  }
  .topright {
    width: 100%;
    margin-right: 0%;
  }
  .topright h1 {
    font-size: 5em;
  }
  .topright p {
    font-size: 3.5em;
  }
  .blockbottom {
    flex-direction: column;
  }
  .bottomright .fa-cart-arrow-down {
    color: #261624;
    margin-top: 60px;
    margin-left: 300px;
  }
  .bottomright .fa-cart-arrow-down:active {
    color: #cc7c51;
    transition: 400ms;
    transform: scale(1.1);
    cursor: pointer;
  }
  .inputs {
  margin-left: 10%;
    }
  .inputs input {
    font-size: 5em;
    border-radius: 20px;
  }
  .inputs select {
    font-size: 5em;
    border-radius: 20px;
    margin-left: 50px;
  }
  .blockpanier {
    width: 100%;
  }
  .panierfinal {
    width: 80%;
  }
  .formulaire {
    width: 80%;
  }
  .formulaire legend {
    font-size: 4em;
    margin-bottom: 100px;
  }
  .formulaire input {
    width: 600px;
    height: 50px;
    border-radius: 15px;
    margin-bottom: 50px;
    border-color: black;
    font-size: 1em;
  }
  .formulaire p {
    font-size: 2.5em;
  }
  .formulaire .pays {
    margin-left: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .formulaire .pays select {
    margin-left: 80px;
    font-size: 1.2em;
    border-color: black;
  }
  .formulaire .condition {
    display: flex;
    justify-content: flex-start;
    margin-left: 40px;
    font-weight: bold;
    margin-bottom: 50px;
  }
  .formulaire .commander {
    margin-bottom: 50px;
    font-size: 1.2em;
    height: 100px;
    width: 300px;
    background-color: #261624;
    color: white;
    font-weight: bold;
  }
  .formulaire .commander:active {
    background-color: white;
    color: #261624;
  }

  .confirmation footer {
    display: none;
  }

  .titreconfirmation {
    margin-left: 2.5%;
    margin-top: 100px;
  }

  .allconfirmation {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 2em;
    text-align: justify;
  }
  .allconfirmation div {
    margin-bottom: 0%;
    margin-top: 80px;
  }
  .allconfirmation div span {
    font-weight: bold;
  }
  .allconfirmation div span.rouge {
    font-weight: normal;
    color: red;
  }
}
