@font-face {
  font-family: "darker_grotesqueregular";
  src: url("font/darkergrotesque-regular-webfont.eot");
  src: url("font/darkergrotesque-regular-webfont.eot?#iefix") format("embedded-opentype"), url("font/darkergrotesque-regular-webfont.woff2") format("woff2"), url("font/darkergrotesque-regular-webfont.woff") format("woff"), url("font/darkergrotesque-regular-webfont.ttf") format("truetype"), url("font/darkergrotesque-regular-webfont.svg#darker_grotesqueregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "darker_grotesqueregular";
}

a {
  text-decoration: none;
}
#message1 {
  color: red;
}
header {
  background-color: #B0BEC5;
  box-shadow: 0px 2px 5px grey;
}
header .titre {
  width: 10%;
  margin-left: 1.5%;
}
.miniheader {
  background-color: #B0BEC5;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 2px 5px grey;
}
.miniheader ul {
  display: flex;
  justify-content: space-around;
}
.miniheader li {
  list-style-type: none;
}
.miniheader a {
  color: white;
  font-weight: bold;
  font-size: 1.2em;
}
.miniheader a:hover {
  color: #D84315;
  transition: 1000ms;
}
.nosproduit {
  text-align: center;
  margin-top: 150px;
  font-size: 1.2em;
}
.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 150px;
  margin-bottom: 200px;
  justify-content: center;
}
.container .article {
  width: 240px;
  height: 280px;
  margin: 10px;
  border-radius: 2.5px;
  text-align: center;
}
.container .article:hover {
  transition: 400ms;
  box-shadow: 0px 0px 5px grey;
}
.container .aaa img {
  width: 15em;
}
.container .aaa h3 {
  font-size: 1.1em;
  color: #261624;
}
.container .prixleft {
  color: red;
}
.container .spandescription {
  font-size: 0.7em;
}
.invisible {
  display: none;
  margin-top: 40px;
  font-weight: bold;
  color: #261624;
}
.container .article:hover:hover .invisible {
  display: flex;
  justify-content: space-around;
}
.container .article:hover:hover h3 {
  display: none;
}
.container .savoir, .container .add-to-cart {
  background-color: #D84315;
  color: white;
  padding: 10px;
}
.container .savoir:hover, .container .add-to-cart:hover {
  transition: 500ms;
  opacity: 60%;
}
.information {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.7em;
}
.information1, .information2, .information3 {
  margin-bottom: 15%;
}

.information2 aside {
  margin-left: 50%;
}
aside {
  width: 50%;
}
footer {
  background-color: #B0BEC5;
  display: flex;
  color: white;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
}

#blockproduit {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 200px;
  margin-top: 200px;
  flex-wrap: wrap;
}
#blockproduit .topleft {
  width: 50%;
}
#blockproduit img {
  width: 100%;
  display: flex;
  justify-content: center;
}
.blocktop, .blockbottom {
  display: flex;
  margin-bottom: 100px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.topright {
  text-align: left;
  color: #261624;
  font-weight: bold;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
.topright .prix1 {
  display: flex;
  font-size: 1.5em;
}
.topright span {
  font-style: italic;
  font-size: 0.8em;
}
.bottomleft {
  width: 70%;
}
.bottomleft h2 {
  margin-left: 50px;
}
.inputs {
  margin-left: 10%;
}
.inputs input {
  font-size: 1.1em;
  border-radius: 5px;
}
.inputs select {
  font-size: 1.2em;
  border-radius: 5px;
  margin-left: 50px;
}
.addprod {
  background-color: #D84315;
  padding: 10px;
  font-size: 1.2em;
  color: white;
}
.addprod:hover {
  opacity: 60%;
  transition: 500ms;
}
.bottomright p {
  display: none;
  text-align: center;
  color: red;
}
.bottomright:active:active p {
  display: block;
}

.panier .miniheader a {
  font-size: 0.8em;
}
#blockpanier {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
.panierfinal {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-bottom: 200px;
  flex-wrap: wrap;
  margin-top: 200px;
  border: 2px #B0BEC5 solid;
}
.paniertop {
  display: flex;
  justify-content: space-between;
}
.paniertop h1 {
  text-align: left;
  font-size: 3em;
  margin-left: 30px;
  margin-top: 0px;
}
.paniertop .tt {
  font-size: 1.5em;
  color: #D84315;
  font-weight: bold;
  margin-right: 30px;
  margin-top: 25px;
}
.panier li {
  list-style-type: none;
  font-size: 1.5em;
}
.nombre {
  text-align: center;
  margin-bottom: 10px;
}
.formulaire {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border: 2px #B0BEC5 solid;
  margin-bottom: 200px;
  flex-wrap: wrap;
}
.formulaire legend {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 50px;
}
.inputtop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.inputleft, .inputright {
  display: flex;
  flex-direction: column;
}
.formulaire input {
  width: 200px;
}
.inputbottom {
  width: 71%;
  margin-right: auto;
  margin-left: auto;
}
.formulaire .pays {
  display: flex;
  justify-content: flex-start;
  margin-top: 50px;
  margin-bottom: 50px;
}
.pays select {
  margin-left: 50px;
}
.formulaire .condition {
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
  margin-bottom: 50px;
}
.formulaire .commander {
  margin-bottom: 50px;
  background-color: #D84315;
  color: white;
}
.formulaire .commander:hover {
  opacity: 80%;
  transition: 500ms;
}
#blockconfirmation {
  margin-bottom: 200px;
}
.titreconfirmation {
  justify-content: flex-start;
  flex-wrap: wrap;
  display: flex;
  margin-left: 5%;
  margin-top: 50px;
}
.titreconfirmation h1 {
  font-size: 5em;
  color: #261624;
  margin-left: 2.5%;
}
.titreconfirmation .fa-paper-plane {
  margin-top: 40px;
  color: #261624;
}
.titreconfirmation p {
  font-size: 2em;
  font-weight: bold;
  margin-top: 90px;
  color: #261624;
}
.allconfirmation {
  margin-left: 5%;
  font-size: 1.7em;
}
.allconfirmation div {
  margin-bottom: 5%;
}
.allconfirmation div span {
  font-weight: bold;
}
.allconfirmation div span.retour {
  font-weight: normal;
  color: red;
  background-color: white;
}
.totalprix #total {
  width: 300px;
}

@media all and (max-device-width: 576px) {
  header .titre {
    width: 50%;
    margin-left: 25%;
  }
  .miniheader {
  width: 100%;
}
  .miniheader ul {
    flex-wrap: wrap;
  }
  .miniheader li {
    margin: 40px;
  }
  .miniheader a {
    font-size: 3em;
  }
  .nosproduit {
  font-size: 2em;
  }
  .container .aaa h3 {
    font-size: 3.5em;
  }
  .invisible {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    font-weight: bold;
    color: #261624;
    font-size: 3.8em;
  }
  .container .article:hover:hover .invisible {
    display: flex;
    justify-content: space-around;
  }
  .container .article:hover:hover h3 {
    display: block;
  }
  .container .savoir, .container .add-to-cart {
    background-color: #D84315;
    color: white;
    padding: 10px;
  }
  #blockmain {
    width: 100%;
    height: 1000px;
    margin-bottom: 10%;
  }
  .information {
    width: 70%;
    font-size: 3em;
    text-align: justify;
  }
  .information1, .information2, .information3 {
    margin-bottom: 15%;
  }
  .information2 aside {
    margin-left: 0%;
  }
  aside {
    width: 100%;
  }
  footer {
    font-size: 3em;
  }
  .container {
    width: 90%;
  }
  .container .article {
    width: 740px;
    height: 1000px;
    box-shadow: 0px 0px 10px black;
    margin-bottom: 100px;
  }
  .container .article:active:active h2 {
    display: block;
  }
  .container .article img {
    width: 46em;
  }
  .container .invisble {
    display: flex;
    margin-top: -100px;
    font-size: 3em;
    width: 150px;
    margin-right: auto;
    margin-left: auto;
  }

  #blockproduit {
    width: 80%;
  }
  #blockproduit img {
    width: 48.2em;
  }
  #blockproduit .prix1 {
    font-size: 4em;
    color: #D84315;
  }
  #blockproduit span {
    font-size: 2em;
    color: #D84315;
  }
  #blockproduit p {
    text-align: justify;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    font-size: 2.5em;
  }
  .topright {
    width: 100%;
    margin-right: 0%;
  }
  .topright h1 {
    font-size: 5em;
  }
  .topright p {
    font-size: 3.5em;
  }
  .blockbottom {
    flex-direction: column;
  }
  .inputs {
  margin-left: 0%;
  margin-bottom: 100px;
    }
  .inputs select {
    font-size: 5em;
    border-radius: 20px;
    margin-left: 0px;
  }
  .addprod {
    font-size: 4em;
  }

  .panier li a {
  font-size: 0.7em;
  }
  .panierfinal {
    width: 100%;
    border: none;
  }
  .paniertop h1 {
    font-size: 6em;
  }
  .paniertop .tt {
    font-size: 4em;
  }
  .panier li {
    list-style-type: none;
    font-size: 4em;
  }
  .formulaire {
    width: 80%;
  }
  .formulaire legend {
    font-size: 4em;
    margin-bottom: 100px;
  }
  .formulaire input {
    width: 600px;
    height: 50px;
    border-radius: 15px;
    margin-bottom: 50px;
    border-color: black;
    font-size: 1em;
  }
  .formulaire label {
    font-size: 2.5em;
  }
  .formulaire .pays {
    margin-left: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .formulaire .pays select {
    margin-left: 80px;
    font-size: 1.2em;
    border-color: black;
  }
  .formulaire .condition {
    display: flex;
    justify-content: flex-start;
    margin-left: 40px;
    font-weight: bold;
    margin-bottom: 50px;
  }
  .formulaire .commander {
    margin-bottom: 50px;
    font-size: 1.2em;
    height: 100px;
    width: 300px;
    background-color: #D84315;
    color: white;
    font-weight: bold;
  }
  .formulaire .commander:active {
    background-color: white;
    color: #261624;
  }
  .confirmation footer {
    display: none;
  }
  .titreconfirmation {
    margin-left: 2.5%;
    margin-top: 100px;
  }
  .allconfirmation {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 2em;
    text-align: justify;
  }
  .allconfirmation div {
    margin-bottom: 0%;
    margin-top: 80px;
  }
  .allconfirmation div span {
    font-weight: bold;
  }
  .allconfirmation div span.rouge {
    font-weight: normal;
    color: red;
  }
}
